@charset 'UTF-8';

.slide-07 {
  .laser-line {
    @include abs-layout;

    background: linear-gradient(to right, $high-light, $high-light) no-repeat center 0 / 2px 100%;
  }

  .laser-white {
    @include absolute(left 50%);
    transform-origin: top;
    width: 60px;
    margin-left: -30px;
    animation: both 1s linear infinite;
  }

  .circle-group {
    @include abs-layout;

    transform-style: preserve-3d;
    backface-visibility: hidden;

    > article {
      @include size(240px);
      @include absolute(top 40px left 50%);

      margin-left: -120px;
      will-change: transform;
      background: no-repeat 0 0 / cover;
      transition: transform 0.5s 0.35s ease-in;
    }

    img {
      width: 100%;
      will-change: transform;
      animation: 5s infinite linear;
    }
  }

  .logi-tag {
    @include absolute;

    will-change: transform;
    transition: transform 0.4s ease-out;

    &:nth-of-type(1) {
      left: percentage(50 / 375);
      bottom: percentage(150 / 667);
      transform: translateX(-200%);
    }

    &:nth-of-type(2) {
      left: percentage(118 / 375);
      bottom: percentage(210 / 667);
      transform: translateX(-220%);
    }

    &:nth-of-type(3) {
      right: percentage(50 / 375);
      bottom: percentage(256 / 667);
      transform: translateX(200%);
    }

    &:nth-of-type(4) {
      right: percentage(62 / 375);
      bottom: percentage(96 / 667);
      transform: translateX(200%);
    }

    &:last-of-type {
      top: 130px;
      left: 50%;
      margin-left: -102px;
      transform: translateX(200%);
    }
  }

  // ----------- 动画定义 -----------  //
  &.swiper-slide-active {
    .laser-white {
      animation-name: laser-ray;
    }

    .circle-group {
      article:nth-of-type(1) {
        transform: rotateX(40deg) translateY(5%);
      }

      article:nth-of-type(2) {
        transform: rotateX(40deg) translateY(40%);
      }

      article:nth-of-type(3) {
        transform: rotateX(40deg) translateY(80%);
      }

      article:nth-of-type(4) {
        transform: rotateX(40deg) translateY(140%);
      }

      article:not(:first-of-type) > img {
        animation-name: circle-z;
      }
    }

    .logi-tag {
      transform: translateX(0);

      &:nth-of-type(1) {
        transition-delay: 0.5s;
      }

      &:nth-of-type(2) {
        transition-delay: 0.7s;
      }

      &:nth-of-type(3) {
        transition-delay: 0.9s;
      }

      &:nth-of-type(4) {
        transition-delay: 1s;
      }

      &:last-of-type {
        transition-delay: 1s;
      }
    }
  }
}
